/* body,
body *,
body *::before,
body *::after {
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:0;

	background:transparent;

	font-family:inherit;
	text-decoration:none;
	outline:none;
}

ol, ul, li {
	display:block;

	list-style:none;
}

table {
	border-spacing:0;
	border-collapse: collapse;
}

a img {
	border: none;
}

button, a {
	cursor: pointer;

	color: inherit;
}

textarea {
	resize: none;
}

button, input, textarea, select {
	appearance: none !important;
	-webkit-appearance: none !important;
	
	border-radius: 0;
} */

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;

	background-color: #dec0f1;

	font-family: "Kanit", sans-serif;

	#root {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		width: 400px;

		form {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			height: 600px;

			padding: 10px 40px;
			border: 2px solid #7161ef;
			border-radius: 15px;
			background-color: #efd9ce;
			color: #7161ef;
			box-shadow: 5px 5px 10px rgba(114, 97, 239, 0.5);

			font-size: 1.1em;

			h2,
			h3 {
				margin: 0;
				padding: 0;
			}

			label:first-child {
				display: block;
			}

			input[type="text"],
			input[type="email"] {
				box-sizing: border-box;
				height: 40px;
				width: 318px;

				border: 1px solid #7161ef;
				padding: 3px 10px;
				border-radius: 10px;

				font-size: 20px;
			}

			input[type="checkbox"] {
				box-sizing: border-box;
				height: 20px;
				width: 20px;

				border: 1px solid #7161ef;
				border-radius: 10%;
			}

			select,
			input[type="file"] {
				box-sizing: border-box;
				width: 100%;
				height: 35px;
				font-size: 16px;
			}

			button {
				align-self: center;
				width: 100px;
				height: 40px;

				font-size: 20px;
				font-weight: 500;

				border: none;
				border-radius: 10px;

				background-color: #7161ef;
				color: #fff;
			}

			button:hover {
				border: 2px solid #7161ef;

				background-color: #dec0f1;
				color: #7161ef;
			}
		}
	}
}

#form div.file {
	position: relative;

	height: 80px;

	background-color: yellowgreen;

	&::after {
		content: "Kattints vagy húzd ide a fájlt!";
		display: block;
		text-align: center;
		font-weight: lighter;
	}

	label {
		display: block;
		text-align: center;
	}

	input[type="file"] {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 99;
		opacity: 0;

		cursor: pointer;
	}
}

#inputValue img {
	width: 200px;
	height: 200px;
	object-fit: contain;
}
